/* 이미지 영역 */
.photo_container {
  text-align: center;
  margin: 30px 0;
}

.photo {
  width: 80%;
  max-width: 1000px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* 전체 기사 박스 */
.article-content {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  line-height: 1.8;
  background-color: #fff; 
}

/* 기본 행 */
.article-row {
  margin-bottom: 15px;
  display: flex;
  align-items: baseline;
}

/* 라벨 */
.article-row .label {
  font-weight: bold;
  color: #2c3e50;
  width: 80px;
  flex-shrink: 0;
}

/* 값 */
.article-row .value {
  color: #555;
  flex-grow: 1;
}

.view-count-row {
  display: flex;
  align-items: baseline;
}
.view-count-row .label,
.view-count-row .value {
  display: inline;
  margin-left: 5px;
}
/* 버튼 영역 오른쪽 정렬 */
.article-info {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
  gap: 10px;
  flex-wrap: wrap;
}

/* 버튼 스타일 */
#editButtons button {
  padding: 6px 12px;
  font-size: 14px;
  border: 1px solid #FF843D;
  background-color: #FF843D;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  transition: all 0.2s ease;
}

#editButtons button:hover {
  background-color: #f16f23;
  border-color: #aaa;
}

#editButtons button:focus {
  outline: none;
}

.right-align-row {
  text-align: right;
  display: block;
  margin-top:20px;
}

.right-align-row .label,
.right-align-row .value {
  display: inline;
  margin-left: 5px;
}

.article-row .title {
  font-size: 32px;
  font-weight: bold;
  color: #222;
}